# Язык
- Отвечай на русском языке.
- Весь код и комментарии пиши на английском.

# Стиль кода
- Используй TypeScript.
- Строгая типизация.
- Prettier для форматирования.
- используем Angular 21.
- не используй depricated или устаревшие библиотеки или технические приемы.
- для работы используем библиотеку Ant Design. правила использования находятся в ANT_DESIGN.md

# Тестирование
- Всегда пиши unit-тесты для нового функционала.
- Используй Vitest.

# Git
- Пиши понятные commit message на русском.
- Делай небольшие атомарные коммиты.
